.App {
  text-align: center;
}


.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 75;
  height: 100%;
  background: rgba(10, 10, 10, .8);
  color:white;
  padding-left: 5px;
  padding-right:5px;

  z-index: 100;


  
}
.menu li {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin: 5px 0px 5px 0px;
  cursor: pointer;
}