.App {
  text-align: center;
 
}

.menu{
  display: flex;
  flex-direction: column;
}
.menu h1 {
  max-width: 100%;
}

.menu li {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  margin: 5px 5px 5px 5px;
  background: rgba(199, 208, 216, .8);
}