.App {
  text-align: center;
}


.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25vh;
  min-width: 75;
  height: 100%;
  background: rgba(10, 10, 10, .8);
  color:white;
 

  z-index: 100;
}
.menu li {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin: 5px 10px 5px 10px;
  cursor: pointer;
}